{{ define "main" }}
  <div class="sidebar wrap region items-start gap-2xl" style="gap: var(--space-l-2xl);">
    <aside class="home-sidebar flow bg-highlight box step--1" style="flex-basis: 25ch">
      {{ $pic := resources.Get "img/jameskerr.jpg" | resources.Fingerprint }}
      <img width="100%" class="profile-pic" src="{{ $pic.RelPermalink }}" alt="James Kerr's Profile Picture"/>
      <p>
        <b>Hello and Welcome!</b>
      </p>
      <p>
        I am James Kerr. I live in San Francisco writing software and pondering our collective existence.
      </p>
      <p>
        I am the author of a few JavaScript packages, the most popular being <a href="https://github.com/brimdata/react-arborist">react-arborist</a>.
      </p>
      <p>
        Here on my blog you'll find prose and poetry on topics such as:
      </p>
      <p class="home-sidebar-topics cluster">
        <a class="italic" href="{{ "/tags/" | relLangURL }}javascript">#javascript</a>
        <a class="italic" href="{{ "/tags/" | relLangURL }}money">#money</a>
        <a class="italic" href="{{ "/tags/" | relLangURL }}react">#react</a>
        <a class="italic" href="{{ "/tags/" | relLangURL }}addiction">#addiction</a>
        <a class="italic" href="{{ "/tags/" | relLangURL }}ruby">#ruby</a>
        <a class="italic" href="{{ "/tags/" | relLangURL }}god">#god</a>
        <a class="italic" href="{{ "/tags/" | relLangURL }}ci">#ci</a>
        <a class="italic" href="{{ "/tags/" | relLangURL }}parenting">#parenting</a>
      </p>
    </aside>
    <main class="flow">
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
        {{ range $paginator.Pages }}
          <article style="--flow-space: var(--space-3xl)">
          {{ .Render "summary" }}
          </article>  
        {{ end }}
      </article>
    </main>
  </div>
{{ end }}
