/* Box Sizing */
*,
*::before,
**::after {
  box-sizing: border-box;
}

/* Prevent Font Inflation */

html {
  text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}


