:root {
  --primary-color: hsl(5, 100%, 55%);
  --link-color: var(--primary-color);
  --body-color: hsl(352 87% 10%);
  --pre-background-color: hsl(352 87% 10% / 0.04);
  --layout-width: 720px;
  --body-font: "brother-1816";
  --heading-font: "brother-1816-printed";
  --small-screen: 450px;

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 450px) {

  html,
  body {
    font-size: 18.7px;
  }
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  font-family: var(--body-font), serif;
  color: var(--body-color);
}

body {
  display: flex;
  flex-direction: column;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: 700;
  line-height: 1.5;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

blockquote {
  font-style: italic;
  border-left: 5px solid var(--primary-color);
  padding-left: 1em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.post-title {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.post-title h1 {
  margin: 0;
}

.post-title time {
  font-size: 0.7rem;
  display: block;
  margin: 2rem 0;
  font-weight: 100;
}

.post-title-link {
  font-size: 2.2rem;
  color: var(--body-color);
  box-shadow: none;
  margin-top: 0;
}

@media screen and (max-width: 450px) {
  .post-title-link {
    font-size: 1.8rem;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
  /* text-decoration: underline; */
  font-weight: 600;
}

.wrap {
  width: 100%;
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  box-shadow: none;
  color: var(--body-color);
  display: flex;
  align-items: center;
  margin: 0;
}

.title h1 {
  line-height: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 0;
  white-space: nowrap;
  width: 100%;
}

@media screen (max-width: 420px) {

  html,
  body {
    font-size: 14px;
  }
}

header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

main {
  flex: 1;
}

footer {
  margin-top: 15vh;
  padding: 2rem 0;
}

footer nav {
  display: flex;
  justify-content: center;
}

footer nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 1rem;
}

.post-summary {
  margin-bottom: 3rem;
}

.post-summary h2 {
  margin-bottom: 0.4rem;
}

.post-summary time {
  margin-bottom: 1rem;
}

time {
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: 100;
  display: block;
}

.post-summary-description {
  margin: 0.4rem 0;
}

article h1 {
  font-size: 2.2rem;
}

article p,
article pre {
  font-weight: 400;
  margin-top: 1em;
}

pre {
  overflow: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--pre-background-color);
  margin-left: -1rem;
  margin-right: -1rem;
  line-height: 1;
}

@media screen and (max-width: 690px) {
  pre {
    border-radius: 0;
  }
}

code {
  font-family: source-code-pro, monospace;
  font-style: normal;
  border-radius: 10px;
  background-color: var(--pre-background-color) !important;
  padding: 0 0.5rem;
  font-size: 0.75rem;
}

pre>code {
  padding: 0;
  line-height: 1.6;
  background-color: transparent !important;
  tab-size: 2ch;
}

article h2 {
  margin-top: 1.2em;
}

.section-title {
  margin-top: 0;
}

.footer__site-title {
  display: flex;
  text-align: center;
}

.comments {
  margin-top: 15rem;
  margin-bottom: 10rem;
  border: 2px solid var(--primary-color);
  box-shadow: 1px 1px var(--primary-color),
    2px 2px var(--primary-color),
    3px 3px var(--primary-color),
    4px 4px var(--primary-color),
    5px 5px var(--primary-color);
  padding: 2rem 3rem;

  & h2 {
    margin-top: 0;
  }

  & p:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .comments {
    padding: 2rem;
  }
}

.featured-image {
  margin: 0 auto;
  margin-top: 4rem;
  width: 100%;
  max-width: 750px;
  position: relative;
  border-radius: 30px;
  box-shadow:
    0px 50px 10px -40px hsl(5 10% 50%);
}

.list-layout {
  margin-top: 2rem;
}

.obfuscate {
  display: none;
}

.poem {
  margin-bottom: 5rem;
  max-width: max-content;
  padding: 0.1rem 3rem;
  font-style: italic;
  margin-left: 2px;
  border-left: 2px solid var(--primary-color);
  line-height: 1.5;

  &>* {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 450px) {
  .poem {
    padding: 0.1rem 1rem;
  }
}


.read-more-links {
  display: flex;
  justify-content: space-between;

  & a {
    padding: 1rem;
    color: var(--body-color);
    transition: all 400ms;

    &:hover {
      background-color: hsl(0 0% 98%);
    }
  }

  &>* {
    cursor: pointer;
  }

  & h3 {
    margin: 0;
  }

  & label {
    color: var(--primary-color);
  }

  .next-post {
    text-align: right;
    border-right: 5px solid var(--primary-color);

    &:hover {
      padding-right: 2rem;
    }
  }

  .prev-post {
    border-left: 5px solid var(--primary-color);

    &:hover {
      padding-left: 2rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .read-more-links {
    font-size: 0.8rem;
  }
}
