:root {
  --primary-color: hsl(5, 100%, 55%);
  --link-color: var(--primary-color);
  --body-color: hsl(352 87% 10%);
  --pre-background-color: hsl(352 87% 10% / 0.04);
  --layout-width: 720px;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  font-size: 24px;
}

@media screen and (max-width: 450px) {
  html,body {
    font-size: 18.7px;
  }
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: bely, sans-serif;
  color: var(--body-color);
}

body {
  display: flex;
  flex-direction: column;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.post-title {
  margin-bottom: 2rem;
  text-align: center;;
}

.post-title h1 {
  margin: 0;
}

.post-title time {
  font-size: 0.7rem;
  display: block;
  margin: 1rem 0;
  font-weight: 900;
}

.post-title-link {
  font-size: 2.2rem;
  color: var(--body-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  box-shadow: 0 1px 0 0 currentColor;
}

.wrap {
  width: 100%;
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.title {
  font-family: bely-display;
  box-shadow: none;
  color: var(--body-color);
  display: flex;
  align-items: center;
  margin: 0;
}

.title h1 {
  line-height: 1.5rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 400;
  white-space: nowrap;
}

.title svg {
  width: 1.2rem;
  height: 1.25rem;
  margin-right: 1rem;
  flex-shrink: 0;
}

.title path {
  fill: var(--body-color);
}


.title #special {
  fill: var(--primary-color)
}

.tagline {
  margin-top: 1rem;
  margin-left: 3.5rem;
}

header {
  display: flex;
  padding: 0.5rem 1rem;
  margin-bottom: 15vh;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  padding: 0;
}

@media screen and (max-width: 450px) {
  header {
    display: block;
    margin: 0 auto;
  }

  header nav ul {
    justify-content: center;
  }
}

main {
  flex: 1;
}

footer {
  margin-top: 15vh;
  padding: 2rem 0;
}

footer nav {
  display: flex;
  justify-content: center;
}

footer nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 1rem;
}

.post-summary {
  margin-bottom: 3rem;
}

.post-summary h2 {
  margin-bottom: 0.4rem;
}

.post-summary time {
  margin-bottom: 1rem;
}

time {
  opacity: 0.8;
  font-size: 0.8rem;
  letter-spacing: 2px;
  font-weight: bold;
  display: block;
}

.post-summary-description {
  margin: 0.4rem 0;
}

.post-title-link {
  box-shadow: none;
  margin-top: 0;
}

article h1 {
  font-size: 2.2rem;
}
article p,
article pre {
  margin-top: 1em;
}

pre {
  overflow: auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--pre-background-color) !important;
  margin-left: -1rem;
  margin-right: -1rem;
  line-height: 1;
}

@media screen and (max-width: 690px) {
  pre {
    border-radius: 0;
  }
}

code {
  font-family: source-code-pro, monospace;
  font-style: normal;
  border-radius: 10px;
  background-color: var(--pre-background-color) !important;
  padding: 0 0.5rem;
  font-size: 0.75rem;
}

pre>code {
  padding: 0;
  background-color: transparent !important;
}

article h2 {
  margin-top: 1.2em;
}

footer {
  background: rgba(0,0,0,0.04);
}

.section-title {
  margin-top: 0;
}


.bio {
  margin-top: 8vh;
  filter: drop-shadow(0 3px 8px rgba(0, 0, 0, 0.2));
  padding-top: 5rem;
  padding-right: calc(2rem + 20px);
}

.bio p {
  margin: 0.8rem 0;
}

.bio__bg {
  background: whitesmoke;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  position: relative;
  border-radius: 50px;
  border: 8px solid white;
}

.bio__image {
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 50px;
  display: flex;
  box-shadow: 0 0 0 8px white;
  top: -5rem;
  right: -2rem;
}

@media screen and (max-width: 510px) {
  .bio__image {
    width: 6rem;
    height: 6rem;
  }

  .bio__bg {
    padding: 1rem 1rem 2rem 1rem;
  }
}

.bio__greeting {
  font-size: 2rem;
  text-shadow: 2px 4px white;
  margin: 0;
}

.footer__site-title {
  display: flex;
  justify-content: center;;
}
