body {
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: var(--step-0);
  font-family: var(--font-base);
  line-height: var(--line-height);
  font-feature-settings: "ss05";
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-feature-settings: "ss02";
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h4 {
  font-size: var(--step-1);
}

time {
  display: block;
}

h1,
h2,
h3,
h4,
ul,
li,
p {
  max-inline-size: var(--measure);
}

a {
  color: var(--color-dark);
  text-decoration-color: var(--color-primary);
}

header {
  margin-block-end: var(--space-l-xl);
}

pre {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: var(--space-xs-s);
  font-size: var(--step--1);
  border-radius: var(--radius);
  tab-size: 2;
  max-width: 80ch;
  overflow-x: auto;
}

time {
  font-size: var(--step--1);
}

em {
  font-weight: bold;
}

blockquote {
  font-family: var(--font-heading);
  font-weight: 300;
  font-size: var(--step-1);
  /* font-style: italic; */
  border-inline-start: 3px solid var(--color-primary);
  padding-inline-start: var(--space-s-l);
}
