:root {
  --color-primary: rgb(241, 114, 51);

  --color-bg: hsl(39 93% 99% / 1);
  --color-bg-highlight: hsl(39 93% 90% / 1);

  --color-text: #352621;
  --color-text-highlight: hsl(19.89deg 52.75% 47.03%);

  --color-border: var(--color-primary);
  --font-base: rooney-web, serif;
  --font-heading: rooney-web, serif;
  --gutter: var(--space-s-l);
  --line-height: 1.6;
  --measure: 60ch;
  --radius: 8px;
  --weight-heading: 500;
}

:root {
  @utopia typeScale({
    minFontSize: 19,
    maxFontSize: 21,
    minTypeScale: 1.1,
    maxTypeScale: 1.28,
    positiveSteps: 5,
    negativeSteps: 2,
  });

  @utopia spaceScale({
    minSize: 14,
    maxSize: 18,
    positiveSteps: [1.5, 2, 3, 4, 7],
    negativeSteps: [0.75, 0.5],
    customSizes: ['s-l', "l-2xl"],
  });
}
