:root {
    --color-light: hsl(63.61deg 100% 96.86%);
    --color-dark: #352621;
    --color-primary: rgb(241, 114, 51);
    --color-gray: hsl(64 21% 90% / 1);
    --font-base: rooney-web, serif;
    --font-heading: rooney-web, serif;
    --gutter: var(--space-s-l);
    --line-height: 1.6;
    --measure: 60ch;
    --radius: 8px;
    --weight-heading: 500;
}

:root {
  @utopia typeScale({
    minFontSize: 19,
    maxFontSize: 21,
    minTypeScale: 1.175,
    maxTypeScale: 1.28,
    positiveSteps: 5,
    negativeSteps: 2,
  });

  @utopia spaceScale({
    minSize: 14,
    maxSize: 18,
    positiveSteps: [1.5, 2, 3, 4, 7],
    negativeSteps: [0.75, 0.5],
    customSizes: ['s-l'],
  });
}
