{{ with .Site.Params.buttondown_username }}

<h3>Subscribe for more posts like this.</h3>
<form class="subscribe-form" action="https://buttondown.com/api/emails/embed-subscribe/{{ . }}" method="post"
  target="_blank">
  <label class="visually-hidden" for="bd-email">Email address</label>
  <input id="bd-email" type="email" name="email" placeholder="you@example.com" autocomplete="email" required />
  <input type="hidden" name="embed" value="1" />
  <button type="submit">Subscribe</button>
</form>
<p class="subscribe-note center">
  No spam, unsubscribe any time.
</p>
{{ end }}
