{{ define "main" }}
  <main>
    <article class="wrap flow text-center region">
      {{ with (.Resources.ByType "image").GetMatch "*cover*" }}
        <img src="{{ .RelPermalink }}" class="featured-image" />
      {{ end }}
      <time datetime="{{ .Date.Format " 2006-01-02T15:04:05" }}"
        >{{ .Date.Format "January 2, 2006" }}</time
      >
      <h1
        class="region"
        style="--flow-space:var(--step-0); --region-space: var(--space-s)"
      >
        {{ .Title }}
      </h1>
      <div>
        {{ with .Params.tags }}
          {{ range . }}
            <a
              class="hashtag"
              href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"
              >#{{ . }}</a
            >
          {{ end }}
        {{ end }}
      </div>
    </article>
    <article class="wrap center prose">
      <div class="flow" is="prose-content">
        {{ .Content }}
      </div>
    </article>
    <article class="region" style="--region-space: 6em">
      <div class="bg-highlight text-highlight">
        <div
          class="wrap flow prose region text-center center"
          style="--region-space: 3em"
        >
          <h3>Thanks for Reading</h3>
          <p class="text-balance">
            Email me your thoughts at
            <b
              >kerr<span class="visually-hidden">to-prevent-spam</span>@h<span
                class="visually-hidden"
                >to-prevent-spam</span
              >ey.com<span class="visually-hidden">to-prevent-spam</span></b
            >
            or give me a mention on
            <a href="{{ $.Site.Params.mastodon_url }}">Mastodon</a>. Also, if
            you are interested in personal budgeting software, check out what
            I'm building at <a href="https://tend.cash">tend.cash</a>.
          </p>
        </div>
      </div>
    </article>
    <article class="wrap region">
      <nav class="fifty w-full">
        {{ with .PrevInSection }}
          <div class="read-next text-center">
            <label class="text-highlight step--1 uppercase">Previous</label>
            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
          </div>
        {{ end }}
        {{ with .NextInSection }}
          <div class="read-next text-center ">
            <label class="text-highlight step--1 uppercase">Next</label>
            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
          </div>
        {{ end }}
      </nav>
    </article>
  </main>
{{ end }}
