<article style="--flow-space:var(--space-2xl)">
	<div class="flow" style="--flow-space:1em">
		<time datetime="{{ .Date.Format " 2006-01-02T15:04:05" }}">{{ .Date.Format "January 2, 2006" }}</time>
		<h2 style="--flow-space:var(--step--2)"><a class="no-underline" href="{{ .Permalink }}">{{ .Title }}</a></h2>
		{{ range .Params.tags }}
			<a class="hashtag" href="{{ " /tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
		{{ end }}
		<p>
			{{ .Summary | safeHTML }}
			<br />
			<a href="{{ .Permalink }}">Read More</a>
		</p>
	</div>
</article>
